<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Основы</title>
</head>
<body>
    
<div id="app">
    <h1>{{ title }}</h1>
    <button @click="getContent">Get content</button>
    <div v-if="showContent">
        <p>Users:</p>
        <ul>
            <li v-for="(user, index) in users" :key="user.id">
                <p>{{ index + 1 }} - {{ user.name }}</p>
                <span>{{ user.email }} - {{ user.age }}</span>
            </li>
        </ul>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            title: 'v-for',
            text: 'Hello',
            showContent: false,
            user: {
                name: 'Jack',
                email: 'info@mail.ru'
            },
            users: [
                {id: '268', name: 'jack', email: 'info@mail.ru', age: 22},
                {id: '238', name: 'ivan', email: 'info@mail.com', age: 34},
                {id: '261', name: 'alex', email: 'info@mail.io', age: 56}
            ]
        },
        methods: {
            getContent() {
                this.showContent = !this.showContent
                console.log(this.user);
                console.log(this.users);
            }
        }
    })
</script>

</body>
</html>